html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#tblResult td {
    vertical-align: top;
    font-size: 12px;
}

.logLineResult {
    cursor: pointer;
}

.selectedLine {
    background-color: #090;
}