@page
@model IndexModel
@{
    ViewData["Title"] = "Log Centre Search";
}

@section Head {
    <link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker.min.css" />
    <link rel="stylesheet" href="~/lib/jgrowl/jquery.jgrowl.min.css" />
}

<div class="errorNotification"></div>

<div class="row">
    <div class="col-3" for="daterange">Date Range</div>
    <div class="col-1" for="level">Level</div>
    <dic class="col-2" for="source">Source</dic>
    <div class="col-3" for="searchText">Log Line</div>
    <div class="col-1"></div>
</div>

<div class="mb-3 row">
    <div class="col-3">
        <input type="text" id="daterange" name="daterange" class="form-control" autocomplete="off" placeholder="Date Range" title="Date range" />
    </div>
    <div class="col-1">
        <select id="level" class="form-control" asp-items="Model.DistinctLevels" title="Log level - Trace, Debug, Information, Error, Critical, etc">
            <option>Level</option>
        </select>
    </div>
    <div class="col-2">
        <input type="text" id="source" class="form-control" style="width:99%" autocomplete="off" title="Source of the log line, Controller, Service, etc" />
    </div>
    <div class="col-3">
        <input type="text" id="searchText" class="form-control" style="width: 99%" autocomplete="off" title="Text to search for" />
    </div>
    <div class="col-1">
        <input type="submit" id="btnSubmit" value="Search" class="btn btn-primary" />
    </div>
</div>

<div class="mb-3 row" id="results">

</div>

@section Scripts {
    @*https://github.com/stanlemon/jGrowl*@
    <script src="~/lib/momentjs/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/lib/jgrowl/jquery.jgrowl.min.js"></script>
    <script type="text/javascript">
        const minSearchLength = 3;

        $(document).ready(function () {
            $(".dismiss").click(function () {
                $("#errorNotification").fadeOut("slow");
            });

            $('#daterange').tooltip();
            $('#level').tooltip();
            $('#source').tooltip();
            $('#searchText').tooltip();

            //#region JS Datetime picker
            //see http://www.daterangepicker.com/ for more information
            $('#daterange').daterangepicker({
                timePicker: true,
                startDate: moment().add(-1, 'day'),
                endDate: moment(),
                maxDate: moment(),
                locale: {
                    format: 'YYYY-MM-DD hh:mm A'
                }
            });
            //#endregion

            $('#btnSubmit').click(function () {
                let daterange = $('#daterange').val();
                let ranges = daterange.split(' - ');
                let fromDate = ranges[0];
                let endDate = ranges[1];
                let level = $('#level').val();
                let source = $('#source').val();
                let searchText = $('#searchText').val();
                if (level == 'Level'){
                    level = '';
                }

                let model = {
                    StartDate: fromDate,
                    EndDate: endDate,
                    Level: level,
                    Source: source,
                    LogLine: searchText
                };

                $.ajax({
                    type: 'get',
                    cache: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '?handler=PerformSearch',
                    data: model,
                    beforesend: function () {
                        $('#results').emty();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        window.console.log('performSearch error xhr[' + xhr + ']');
                        window.console.log('performSearch error ajaxOptions[' + ajaxOptions + ']');
                        window.console.log('performSearch error thrownError[' + thrownError + ']');
                    },
                    success: function (data) {
                        window.console.log(data);
                        if (data) {
                            if (data.isValid) {
                                if (data.html) {
                                    $('#results').html(data.html);
                                }
                            } else {
                                if (data.message) {
                                    $.jGrowl(data.results, { sticky: true });
                                }
                            }
                        }
                    }
                })
            });
        });
    </script>
}