@page
@model IndexModel
@{
    ViewData["Title"] = "Log Centre Search";
}

@section Head {
    <link rel="stylesheet" href="~/lib/jquery-datetimepicker/jquery.datetimepicker.min.css" />
}

<div id="notifications"></div>
<div class="row">
    <div class="col-2">Start Date</div>
    <div class="col-2">End Date</div>
    <div class="col-2">Log Line</div>
    <div class="col-auto"></div>
    <div class="col-1"></div>
</div>

<div class="mb-3 row">
    <div class="col-sm-2">
        <input type="text" id="startDate" class="rounded-3 fs-5" style="width: 99%" autocomplete="off" />
    </div>
    <div class="col-sm-2">
        <input type="text" id="endDate" class="rounded-3 fs-5" style="width: 99%" autocomplete="off" />
    </div>
    <div class="col-2">
        <input type="text" id="searchText" class="rounded-3 fs-5" style="width: 99%" autocomplete="off" />
    </div>
    <div class="col-auto">&nbsp;</div>
    <div class="col-1">
        <input type="submit" id="btnSubmit" value="Search" class="btn btn-primary" />
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="~/lib/momentjs/moment.min.js"></script>
    <script type="text/javascript">
        const minSearchLength = 3;

        function getDateAsString(date){
            window.console.log('getDateAsString() | date[' + date + ']');
            let str = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
            window.console.log('getDateAsString() | returning[' + str + ']');
            return str;
        }

        function getToday() {
            window.console.log('getToday()');
            let today = moment().toDate();
            let todayStr = getDateAsString(today);
            window.console.log('getToday() | returning[' + todayStr + ']');
            return todayStr;
        }

        function getYesterday() {
            window.console.log('getYesterday()');
            let yesterday = moment().subtract(1, 'day').toDate();
            let yesterdayStr = getDateAsString(yesterday);
            window.console.log('getYesterday() | returning[' + yesterdayStr + ']');
            return yesterdayStr;
        }

        $(document).ready(function () {
            $.datetimepicker.setDateFormatter('moment');
            $('#startDate').datetimepicker({
                format: "YYYY-MM-DD HH:mm:ss",
                formatDate: "yyyy-MM-dd",
                timeFormat: "hh:mm:ss",
                value: getYesterday(),
                mask: true,
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#endDate').val() ? $('#endDate').val() : false
                    })
                }
            });

            $('#endDate').datetimepicker({
                format: "YYYY-MM-DD HH:mm:ss",
                formatDate: "yyyy-MM-dd",
                timeFormat: "hh:mm:ss",
                value: getToday(),
                mask: true,
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#startDate').val() ? $('#startDate').val() : false
                    })
                }
            });

            $('#startDate').val(getYesterday());
            $('#endDate').val(getToday());

            $('#btnSubmit').click(function () {
                var fromDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                var searchText = $('#searchText').val();

                $.ajax({
                    type: 'get',
                    cache: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '?handler=PerformSearch',
                    data: {
                        fromDate: fromDate,
                        endDate: endDate,
                        searchText: searchText
                    },
                    beforesend: function () {
                        //do nothing
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        window.console.log('performSearch error xhr[' + xhr + ']');
                        window.console.log('performSearch error ajaxOptions[' + ajaxOptions + ']');
                        window.console.log('performSearch error thrownError[' + thrownError + ']');
                    },
                    success: function (data) {
                        if (data) {
                            if (data.isValid) {
                                if (data.results) {

                                }
                            } else {
                                if (data.results) {
                                    $('#notifications').value(data.results);
                                    $('#notifications').addClass('text-danger');
                                }
                            }
                        }
                        window.console.log(data);
                    }
                })
            });
        });
    </script>
}